{{define "main"}}
{{ if eq .Section "post"}}
	<section class="container text-justified mt-3" style="max-width: 720px;">
	  <h2 class="font-weight-bold">{{.Title}}</h2>
	  <small class="text-secondary mb-5">Posted on {{ .PublishDate.Format "January 2, 2006" }} | {{.ReadingTime}} minute read</small>
	  <div class="text-monospace mt-2">
		  {{ .Content }}
	  </div>
	  <br>
	</section>
{{else}}
	<section class="container text-justified mt-3" style="max-width: 720px;">
	  <h2 class="text-center mb-4">{{.Title}}</h2>
	    <div class="text-monospace">
			{{ .Content }}
		</div>
	</section>
{{end}}
{{end}}
